{% extends "theme.html" %}
{% block title %} To-Do List {%endblock%}
{% block content %}

<body class="text-center">
    
    <br/><br/><br/>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">TO-DO LIST</h1><br/>
    <p class="lead">To-do list. A necessity for all the dumbass not able to keep track of their daily activity.</p><br/><br/>
    <p class="lead">
      <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Code available in <a target="_blank" href="https://github.com/sergeantsnape/flask">github</a>.</p>
    </div>
  </footer>
</div>
</body>
{% endblock %}